%h3
  【はじめに】
%p
  将棋は2人のプレーヤーで楽しむボードゲームです。400年以上の歴史があり、男女年齢関わらず世界中で親しまれています。

%h3
  【ルール】
%p
  将棋は対局者2人がそれぞれ20枚の駒を持ち、9×9＝81マスで構成される将棋盤上で戦います。
  一手ずつ交互に自分の駒を動かして、相手の玉（王）を先に取ったほうが勝ちです。また、玉がどこにも動けない状態を「詰み」といい、負けとなります。
%h3
  【駒の動かし方】
%p
  「みんなの将棋」では、動かせる場所にオレンジ色のカーソルが表示されます。また、全く動かせない駒は、クリックしてもなにも表示されません。
  - link = link_to 'Wikipedia', 'http://ja.wikipedia.org/wiki/%E5%B0%86%E6%A3%8B#.E9.A7.92.E3.81.AE.E5.8B.95.E3.81.8D', target: :_blank
  将棋の詳しい駒の動かし方に関しては#{link}を参照するとわかりやすいです。

%h3
  【駒落ちとは】
%p
  相手が自分に対して強い、または弱いと最初から解っていることがあります。このときに、相手に「駒落ち」での対局(ハンデ戦)を申し込むことができます。「新しく対局する」から「駒落ち」を選択してください。自分や相手の駒を落とす(省いた状態から始める)ことができます。

%h3
  【反則】
%p
  将棋には大きく4つの禁じ手があります。以下の手は「みんなの将棋」上では指せないか指すと反則負けとなります。「みんなの将棋」では反則負けの処理はなされないため、自主的に投了されることをおすすめいたします。

%h4
  二歩
%p
  自分の「歩」のある筋(縦のライン)に、もう1枚「歩」を置くことはできません。
  ただし、自分の「歩」がすでに「と金」に成っている場合には置くことができます。

%h4
  打ち歩詰め
%p
  玉の前に歩を打って詰ますことはできません。打ち歩詰めしか次の手がなくなった場合、自主的に投了されることをおすすめいたします。

%h4
  千日手
%p
  対局者の両方が同じ手を繰り返して、いつまでも状況に変化がない場合は、千日手（千日やっても終わらない意味）となりますので対戦相手に試合終了を提案しましょう。

%h3
  【推奨環境】
%p
  ブラウザ: Internet Explorer、Firefox、Safari、Google Chromeそれぞれ最新バージョンでお楽しみください。
