%ul.menu
  %li
    %a{ href: new_game_path, 'data-disable-with' => t('actions.now_loading'), class: 'btn btn-large btn-block btn-primary' }
      %i.icon-pencil
      = page_name('games', 'new')
  %li
    %a{ href: playing_games_path, 'data-disable-with' => t('actions.now_loading'), class: 'btn btn-large btn-block' }
      %i.icon-book
      = page_name('games', 'index')
