%ul.menu
  %li
    = link_to page_name('games', 'new'), new_game_path, 'data-disable-with' => t('actions.now_loading'), class: :top_button
  %li
    = link_to page_name('games', 'index'), playing_games_path, 'data-disable-with' => t('actions.now_loading'), class: :normal_button
