- unless defined?(decorator)
  - decorator = TagDecorator.new tag_element
%article.tag
  %h2.code
    = decorator.code
  - Sengine::LOCALES.each do |locale|
    %h3
      = locale
    - locale_string = locale.to_s
    %h4.name
      = decorator.name(false, locale_string)
    %section.content
      = decorator.content(locale_string)
