- attr_names = %w(name)
%table.tags
  %thead
    %tr
      - attr_names.each do |attr_name|
        %th
          = Tag.human_attribute_name attr_name
      %th
  %tbody
    - tags.each do |tag_element|
      - decorator = TagDecorator.new(tag_element)
      %tr
        - attr_names.each do |attr_name|
          %td
            = decorator.public_send attr_name
        %td
= paginate tags
