- unless defined?(decorator)
  - decorator = TagDecorator.new tag_element
%article.tag
  %h2.code
    = decorator.code
  - Sengine::LOCALE_STRINGS.each do |locale|
    %h3
      = locale
    %h4.name
      = decorator.name_translations[locale]
    %section.content
      = decorator.content(locale)
