%aside.actions#play_buttons
  - if board.number > 0
    = link_to '<<', sys_game_path(game, number: 0), remote: true, class: :button
    = link_to '<', sys_game_path(game, number: board.number - 1), remote: true, class: :button
  - else
    %span{ class: :button } &lt;&lt;
    %span{ class: :button } &lt;
  - if board.number < game.number
    = link_to '>', sys_game_path(game, number: board.number + 1), remote: true, class: :button
    = link_to '>>', sys_game_path(game, number: game.number), remote: true, class: :button
  - else
    %span{ class: :button } &gt;
    %span{ class: :button } &gt;&gt;
