%ul.menu
  %li.top_item
    - name = t('actions.sign_in_and_start')
    - if facebook_enabled?
      %a{ href: user_omniauth_authorize_path(:facebook), 'data-disable-with' => t('actions.now_loading'), class: 'btn btn-large btn-block btn-primary' }
        %i.icon-home
        = name
    - else
      %a{ href: new_user_session_path, 'data-disable-with' => t('actions.now_loading'), class: :top_button }
        %i.icon-home
        = name
  %li
    - name = t('actions.about_app')
    %a{ href: about_game_path, 'data-disable-with' => t('actions.now_loading'), class: 'btn btn-large btn-block' }
      = name

