%table.resources
  %thead
    %tr
      - %w(content).each do |attr_name|
        %th= Feedback.human_attribute_name(attr_name)
      %th.spec{ colspan: 2 }
        &nbsp;

  %tbody
    - feedbacks.each do |feedback|
      - decorator = FeedbackDecorator.new feedback
      %tr
        - %w(content).each do |attr_name|
          %td
            = decorator.public_send attr_name
        %td
          = link_to t('actions.show'), [:sys, feedback]
        %td
          = link_to t('actions.destroy'), [:sys, feedback], confirm: t('confirms.are_you_sure_'), method: :delete
