$color: #333
$link_color: #05a
$border_color: #ddd
$max_width: 760px
$common_width: $max_width
$face_size: 50px
$button_color: #f93
$activated_color: #37f
$mobile_button_font_size: 24px

=rotate180
  /* FireFox */
  -moz-transform: rotate(180deg)
  /* Opera */
  -o-transform: rotate(180deg)
  /* webkit */
  -webkit-transform: rotate(180deg)
  /* IE9 */
  -ms-transform: rotate(180deg)
  /* Older IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
  /* Newer browsers (including IE9) */
  transform: rotate(180deg)

$document_tags: body, p, pre, ol, ul, li, table, th, td, div, span, h1, h2, h3, h4, h5, h6, dd, dt, dl, pre, code, form, fieldset, legend, p, blockquote, article, header, footer, section, nav

=atmospheric_background($transparency: 0.8)
  background: #fff
  background: rgba(255, 255, 255, $transparency)

=no_text
  text-indent: -9999px

=square($size)
  width: $size
  height: $size

=pill_button($background_color: $button_color)
  @include button(pill, $background_color)
  padding: 10px 15px


=border-radius ($radii)
  -webkit-border-radius: $radii
  -moz-border-radius: $radii
  -ms-border-radius: $radii
  -o-border-radius: $radii
  border-radius: $radii


=border-top-left-radius($radii)
  -webkit-border-top-left-radius: $radii
  -moz-border-top-left-radius: $radii
  -ms-border-top-left-radius: $radii
  -o-border-top-left-radius: $radii
  border-top-left-radius: $radii


=border-top-right-radius($radii)
  -webkit-border-top-right-radius: $radii
  -moz-border-top-right-radius: $radii
  -ms-border-top-right-radius: $radii
  -o-border-top-right-radius: $radii
  border-top-right-radius: $radii


=border-bottom-left-radius($radii)
  -webkit-border-bottom-left-radius: $radii
  -moz-border-bottom-left-radius: $radii
  -ms-border-bottom-left-radius: $radii
  -o-border-bottom-left-radius: $radii
  border-bottom-left-radius: $radii


=border-bottom-right-radius($radii)
  -webkit-border-bottom-right-radius: $radii
  -moz-border-bottom-right-radius: $radii
  -ms-border-bottom-right-radius: $radii
  -o-border-bottom-right-radius: $radii
  border-bottom-right-radius: $radii


=border-top-radius($radii)
  +border-top-left-radius($radii)
  +border-top-right-radius($radii)


=border-right-radius($radii)
  +border-top-right-radius($radii)
  +border-bottom-right-radius($radii)


=border-bottom-radius($radii)
  +border-bottom-left-radius($radii)
  +border-bottom-right-radius($radii)


=border-left-radius($radii)
  +border-top-left-radius($radii)
  +border-bottom-left-radius($radii)

