- decorator = UserDecorator.new(user)
%dl#user_profile
  - %w(image name locale timezone audio_on).each do |attr_name|
    %dt
      = User.human_attribute_name(attr_name)
    %dd
      = decorator.public_send(attr_name)
