- app_id = escape_javascript Shogiengine.system.facebook[:app_id]
- if app_id.present?
  %meta{ property: "fb:app_id", content: app_id }
- admin_id = escape_javascript Shogiengine.system.facebook[:admin_id]
- if admin_id.present?
  %meta{ property: "fb:admins", content: admin_id }
%meta{ property: "og:site_name", content: t('site.title') }
%meta{ property: "og:url", content: root_url }
%meta{ property: "og:description", content: t('site.meta.description') }
%meta{ property: "og:image", content: "#{root_url}assets/favicon.png" }
- if I18n.locale == :ja
  - locale = 'ja_JP'
- elsif I18n.locale == :en
  - locale = 'en_US'
- else
  - locale = nil
- if locale
  %meta{ property: "og:locale", content: locale }
- if %w(about help home).include? controller_name
  %meta{ property: "og:type", content: 'website' }
- else
  %meta{ property: "og:type", content: 'article' }
