- app_id = escape_javascript Shogiengine.system.facebook[:app_id]
- if app_id.present?
  %meta{ property: "fb:app_id", content: app_id }
- admin_id = escape_javascript Shogiengine.system.facebook[:admin_id]
- if admin_id.present?
  %meta{ property: "fb:admins", content: admin_id }
- if @top_page
  - title_elements = [t('pages.controllers.home.top')]
- elsif @game
  - title_elements = site_title_elements @game
- elsif @user
  - title_elements = site_title_elements @user
- else
  - title_elements = site_title_elements @subtitle
%meta{ property: "og:title", content: title_elements.first }
%meta{ property: "og:site_name", content: t('site.title') }
%meta{ property: "og:url", content: root_url }
%meta{ property: "og:description", content: t('site.meta.description') }
%meta{ property: "og:image", content: "#{root_url}assets/favicon.png" }
- if I18n.locale == :ja
  - page_locale = 'ja_JP'
- elsif I18n.locale == :en
  - page_locale = 'en_US'
- else
  - page_locale = nil
- if page_locale
  %meta{ property: "og:locale", content: page_locale }
- if %w(about help home).include? controller_name
  %meta{ property: "og:type", content: 'website' }
- else
  %meta{ property: "og:type", content: 'article' }
