.common_container#home_container
  %p
    - name = t('helpers.submit.sign_in')
    - if Rails.env.production?
      = link_to name, user_omniauth_authorize_path(:facebook)
    - else
      = link_to name, new_user_session_path
