.common_container#home_container
  %h2= @subtitle
  %ul.menu
    %li
      - name = t('actions.sign_in_and_start')
      - if Rails.env.production?
        = link_to name, user_omniauth_authorize_path(:facebook)
      - else
        = link_to name, new_user_session_path
    %li
      - name = t('actions.about_app')
      = link_to name, about_help_path
