.common_container#top_page
  %article#top_main
    #top_image
      = image_tag 'home/keyvisual.png'
      %span.site_message= t('site.title')
    %nav#top_navi
      = render 'home/top/menu'
  = render 'shared/facebook_like_top'
