- unless defined?(decorator)
  - decorator = PieceDecorator.new(piece)
- decorator.reverse = reverse
.piece{ id: decorator.id, role: decorator.role, direction: decorator.direction, class: decorator.html_classes }
  = convert_role_to_kanji piece.role
