= render 'tags/search'
%ul.nav.nav-tabs.nav-stacked
  - %w(playing mine friends).each do |page|
    %li{ class: (page == action_name ? 'active' : nil) }
      - name = t("pages.controllers.games.#{page}")
      - href = { controller: 'games', action: page }
      = link_to name, href
