.common_container#game_page
  - if @subtitle.is_a? Array
    - subtitle = @subtitle[1]
  - else
    - subtitle = @subtitle
  %h2<
    %i.icon-book
    = subtitle
  .row
    .span3
      = render 'games/side'
    .span9
      = render 'games/games', games: @games, show_not_found: true, with_pagination: true
