.common_container#tag_page
  - if @subtitle.is_a? Tag
    - name = @subtitle.name
  - else
    - name = @subtitle
  %h2<
    %i.icon-tag
    = name
  .row
    .span3
      = render 'games/side'
    .span9
      = render 'tag', tag_element: @tag
