.board{ id: board.id }
  .pieces
    - 1.upto(9).each do |y|
      .row
        - 9.downto(1).each do |x|
          .cell{ x: x, y: y }
            - piece = board.piece_where([x, y])
            = render 'pieces/piece', piece: piece if piece
