- piece_roles = {}
.in_hand{ class: direction }
  .pieces
    .row
      - if reverse ^ (direction == 'upward')
        - pieces = board.sente_hand
        - user = game.sente_user
      - else
        - pieces = board.gote_hand
        - user = game.gote_user
      - user_decorator = UserDecorator.new(user)
      - in_turn = false
      - is_sente = (game.number % 2) == 0
      - if is_sente && user == game.sente_user
        - in_turn = true
      - elsif !is_sente && user == game.gote_user
        - in_turn = true
      .cell{ class: (in_turn ? :in_turn : nil) }
        - link = !(play && user == current_user)
        = user_decorator.face(link)
      - all_roles = Piece::HAND_ROLES
      - if direction == 'upward'
        - all_roles = all_roles.reverse
      - all_roles.each do |role|
        - number = pieces[role]
        - if user == game.sente_user
          - piece = Piece.new(role)
        - else
          - piece = Piece.new(- role)
        - piece_decorator = PieceDecorator.new piece
        - piece_decorator.reverse = reverse
        - if number >= 1
          .cell
            = piece_decorator.tagify(play)
            .number
              x
              = number
