- decorator = UserDecorator.new(user)
%table.table.table-striped
  %thead
    %tr
      %th.span2
        Attribute
      %th
        Content
  %tbody
    %tr
      %th
        = User.human_attribute_name('image')
      %td
        = link_to decorator.image, decorator.facebook_url, target: "_blank"

    - %w(name admin grade score locale timezone audio_on).each do |attr_name|
      %tr
        %th
          = User.human_attribute_name(attr_name)
        %td
          = decorator.public_send(attr_name)
