- decorator = UserDecorator.new(user)
- decorator = UserDecorator.new(user)
- image_tag = decorator.image(false, class: 'face large')
#user_profile
  = link_to image_tag, decorator.facebook_url, target: "_blank", id: :user_face
  %dl
    - %w(name admin grade score locale timezone audio_on).each do |attr_name|
      %dt
        = User.human_attribute_name(attr_name)
      %dd
        = decorator.public_send(attr_name)
