/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require initializer
 *= require base
 *= require ./structure
 *= require jquery-ui
 *= require jquery.pnotify.default
 *= require jquery.pnotify.default.icons
 *= require_self
 *= require ../games
 *= require ../pieces
 *= require_directory .
 */


@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

/* Common Parts */
h2
  margin-bottom: 10px
  font-weight: bold
  font-size: 140%
h3
  margin: 20px 0 10px
  font-size: 130%
  font-weight: bold
  border-bottom: 1px solid $border_color
h4
  margin: 20px 0 0px
  font-size: 110%
  font-weight: bold
p
  margin: 10px 0
label
  display: block
  &.must:after
    content: '*'
    color: #f00
  &.error
    color: #f00
    display: none
    white-space: none
    font-weight: normal
    img
      vertical-align: middle
  &.inline
    display: inline
    font-weight: normal

a
  &.button
    @include button
    @include inline-block
    font-size: 100%
    text-decoration: none
span
  &.button
    @include button(simple, #eee)
    @include inline-block
    font-size: 100%
    text-decoration: none

.common_container
  padding: 10px
  &.broad
    padding: 0
table.resources
  width: $common_width - 20px
  margin-bottom: 10px
  th, td
    text-align: center
    font-size: 12px
    vertical-align: middle
  thead tr
    th, td
      font-weight: bold
      color: #000
      padding: 3px 10px
      border-bottom: 1px solid $border_color
  tbody tr
    th, td
      padding: 3px 10px
      border-bottom: 1px dotted $border_color
  td
    img.face
      width: 19px
      height: 19px

form
  section.field
    margin: 15px 0
  section.actions
    margin: 30px 0

ul.menu
  li
    margin: 25px 0
    a
      @include button
      font-size: 100%
      display: block
      margin: 0 auto
      width: 180px
      text-align: center
      text-decoration: none

nav.pagination
  $color: #333
  ul
    li
      @include inline-block
      &.active
        a, span
          color: $color

aside.actions
  margin: 10px 0

/* pnotify */
.ui-pnotify-history-container
  display: none
.ui-pnotify-history-container .ui-pnotify-history-header
  text-align: center
  font-weight: bold
