/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require ./structure
 *= require ../themes
 *= require jquery-ui
 *= require jquery.pnotify.default
 *= require jquery.pnotify.default.icons
 *= require_self
 *= require ../games
 *= require ../boards
 *= require ../users
 *= require_directory .
 */

@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

/* Common Parts */

.common_container
  &.broad
    padding: 0

.systematic
  h3, h4, h5
    font-size: 100%
    line-height: 1.6

table.resources
  img.face
    width: 19px
    height: 19px

/* pnotify */
.ui-pnotify-history-container
  display: none
  @media (max-width: 320px)
    right: 0px
.ui-pnotify-history-container .ui-pnotify-history-header
  text-align: center
  font-weight: bold
.ui-pnotify-container
  padding: 10px
  @media (max-width: 320px)
    width: 260px
.ui-pnotify
  right: 10px
  h4.ui-pnotify-title
    clear: none
    margin: 0 0 5px
    line-height: 14px
    font-size: 14px
    height: 14px
    min-height: 14px
    display: block
  div.ui-pnotify-text
    font-size: 14px
    a
      color: $link_color
  div.ui-pnotify-sticker
    display: none
