%ul#feedbacks
  - feedbacks.each_with_index do |feedback, i|
    = render 'feedbacks/list', feedback: feedback, number: i
  - if defined?(show_not_found) && show_not_found && feedbacks.blank?
    %li.no_feedback
      = t('notices.model_was_not_found', model: Feedback.model_name.human)
- if defined?(with_pagination) && with_pagination
  %nav.pagination.next_feedback
    - name = t('actions.see_more')
    - unless defined?(pagination_params)
      - pagination_params = {}
    = link_to_next_page feedbacks, name, remote: true, params: pagination_params, class: :see_more do
      %span.see_more= name
