- decorator = FeedbackDecorator.new feedback
%article.feedback
  %aside.face
    = decorator.author_image
  %section.content
    %p
      = decorator.content
  %aside.created_at
    = decorator.created_at
