$color: #333
$link_color: #05a
$border_color: #aaa
$max_width: 760px
$common_width: $max_width

@mixin rotate180
  /* FireFox */
  -moz-transform: rotate(180deg)
  /* Opera */
  -o-transform: rotate(180deg)
  /* webkit */
  -webkit-transform: rotate(180deg)
  /* IE9 */
  -ms-transform: rotate(180deg)
  /* Older IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
  /* Newer browsers (including IE9) */
  transform: rotate(180deg)

$document_tags: body, p, pre, ol, ul, li, table, th, td, div, span, h1, h2, h3, h4, h5, h6, dd, dt, dl, pre, code, form, fieldset, legend, p, blockquote, article, header, footer, section
