%h3
  Facebookの友達と将棋を指しましょう!
%p
  みんなの将棋は、Facebookの友人と一緒に将棋がさせるWebサービスです。

%h3
  ゲームの始め方
%p
  １）「ログインして始める」をクリックしFacebook認証を完了させてください。
  %br
  ２）認証完了後、「マイページ」に移動します。
  %br
  ３）ゲームが開始できる状態になります。「対局を作成する」から友人をさがして将棋を初めてください。
%p
  ※「対局を作成する」ページにはFacebook認証が完了しているユーザのみ表示されます。こちらに表示されていない友人とゲームをしたい場合は、画面上部にある「友達を招待する」から友人を招待してください。
