%h3
  Facebookの友達と将棋を指しましょう!
%p
  みんなの将棋は、Facebookの友達と一緒に将棋をさせるWebサービスです。PCやスマートフォンでいつでもどこでも将棋を楽しむことができます。友達とのちょっとしたひとときにどうぞ。

%h3
  ゲームの始め方
%p
  １）「ログインして始める」をクリックしFacebook認証を完了させてください。
  %br
  ２）認証完了後、「マイページ」に移動します。
  %br
  ３）ゲームが開始できる状態になります。「新しく対局する」から友達をさがして将棋を初めてください。
%p
  ※「新しく対局する」ページにはFacebook認証が完了しているユーザのみ表示されます。こちらに表示されていない友達とゲームをしたい場合は、画面上部にある「友達を招待する」から友達を招待してください。
