#privacy
  %h3 はじめに
  %p この個人情報保護方針(以下、「プライバシー ポリシー」といいます。)は、将棋友の会(以下、「運営者」といいます。)がユーザーの皆様の個人情報をどのように取り扱うかについて説明するものです。運営者は、個人広告の掲載・申込・承認・メッセージングなどの機能を持つサービス「みんなの将棋」(以下｢本サービス｣といいます。)を運営するため、下記条件に従いプライバシー情報を収集、利用、共有し、また厳格なセキュリティ及び機密保持基準に従って保管します。
  %h3 プライバシー情報の定義
  %p プライバシー情報のうち「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報を指します。
  %p プライバシー情報のうち「履歴情報および特性情報」とは、上記に定める「個人情報」以外のものをいい、ご利用いただいたサービスやご購入いただいた商品、ご覧になったページや広告の履歴、お客様が検索された検索キーワード、ご利用時間帯、ご利用の方法、ご利用環境、お客様のIPアドレス、クッキー情報、位置情報、端末の個体識別情報などを指します。
  %h3 個人情報の利用目的について
  %p 運営者は、ユーザーの皆様の個人情報を以下の目的で利用することができるものとします。
  %ol
    %li 本サービスならびにその他本サービスに関連する情報の提供のため。
    %li ユーザーの本人確認、資金決済の認証サービスのため。
    %li 紛争の解決、料金の徴収、トラブルの解決など、ユーザー間の取引の安全性向上のため。
    %li 本サービスの運営上必要な事項の通知(電子メールによるものを含むものとします)のため。
    %li 本サービスがユーザーの皆様に有用だと思われるメールマガジンの送信のため。
    %li 本サービスの新規開発に必要なデータの解析や分析を個人を特定できない形式で行うため。
    %li ユーザーの皆様の行動、性別、本サービス内でのアクセス履歴などを用いたターゲティング広告の配信のため。
    %li 運営者が個人情報をユーザー様から収集する際に当該ユーザー様に説明する、その他の目的のため。
    %li 利用規約や各種法令等に基づく権利の行使や義務の履行のため。
    %li アフターサービス、各種問い合わせ対応のため。
  %h3 個人情報の共有ならびに利用制限について
  %p 運営者は、以下に定める場合を除いて、事前にユーザーの皆様ご本人の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を利用または共有することはありません。
  %ol
    %li 法令により認められた場合。
    %li ユーザーの皆様の同意があった場合。
    %li 投稿その他のコンテンツが他者の権利を侵害しているとの訴えに対応する場合。
    %li 潜在的に違法性のある行為を探知・防止し、共同のサービスを実施する目的でしかるべき手順で選定された運営者の業務を補助するサービスプロバイダーに個人情報を提供する場合。
    %li 人の生命、身体または財産の保護のために必要があり、さらにユーザーの同意を得るのが困難な場合。
    %li ユーザーによるクレジットカード等による利用料金決済のため、クレジットカード会社、クレジットカード決済等の代行会社、金融機関、回収代行業者に開示する場合。
    %li 本サービスの提供において運営者が必要と判断した際、裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、運営者に対して秘密保持義務を負う者に対して開示する場合。
    %li 合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合。
  %h3 個人情報の安全管理について
  %ol
    %li 運営者では、個人情報の漏洩または毀損の防止ならびにその他個人情報の安全管理が行われるよう、個人情報の適切な監督を行います。
    %li 運営者では、業務遂行に必要な範囲内で、権限を与えられた者のみが個人情報を取り扱います。
    %li 個人情報の取扱いを外部に委託する場合には、機密保持契約を締結のうえ委託先を監督します。
  %h3 本サービス以外での個人情報の管理について
  %p 本サービスを通じてアクセスできる第三者のサイトおよびサービス等、本サービスからのリンク先のウェブサイトで独自に収集される個人情報の利用については、運営者は、関知いたしません。そのため、これらの企業もしくはサイトにおける、独立した規定や活動に対して、運営者は一切の義務や責任を負いません。それぞれのサイトのプライバシーポリシーを確認してください。
  %h3 履歴情報および特性情報について
  %p 運営者は ユーザーの皆様が本サービス内で利用した機能やサービス、投稿された内容、ユーザー間でのコミュニケーションに利用した情報、ご覧になったページや広告の履歴、検索キーワード、ご利用時間帯、ご利用の方法、ご利用環境(ご利用に際しての各種設定情報なども含みます)、ユーザーの皆様のIPアドレス、クッキー情報、位置情報、端末の個体識別情報などの情報を、ユーザーの皆様が運営者や運営者の提携先(情報提供元、広告主、広告配信先などを含みます。以下｢提携先｣といいます)などのサービスをご利用になったりページをご覧になったりする際に取得します。
  %h3 履歴情報および特性情報の利用目的
  %p 運営者は履歴情報および特性情報を大きく分けて以下の目的で利用します。
  %ol
    %li 同じユーザーからのアクセスかどうかを確認する場合。
    %li ユーザーの皆様のセキュリティを確保するため、一定の時間が経過したユーザーに対して再ログインを促す場合。
    %li 運営者や運営者から広告を配信している提携先サイトのユーザー数や運営者や提携先サイトへの誘導数を調査する場合。
    %li 運営者や提携先が最適なコンテンツ、広告、各種サービスのご案内などをお客様に配信したり提供したりする場合。
    %li 運営者や提携先が提供しているサービスや広告の内容を、充実させたり、改善したり、あるいは新しいサービスを検討したりするための分析・抽出等を行う場合。
    %li 提携先に、どのような広告や情報、サービスなどを掲載または提供していただくことが効果的であるかなどを分析して提供する場合。
    %li お客様からのお問い合わせに対応するために、お客様のサービスご利用状況を確認する場合。
  %h3 セキュリティについて
  %p 運営者は、ユーザーの皆様の個人情報を不正なアクセスや漏洩から守るため、複数のツール (暗号化、パスワード、物理的セキュリティ方法) を使用し、厳格なセキュリティ基準を採用しています。但し、運営者としてセキュリティに関する一切の保証は致しかねますのでご了承ください。
  %h3 免責
  %p 以下の場合は、第三者による個人情報の取得に関し、運営者は何らの責任を負いません。
  %ol
    %li ユーザー自らが本サービス上の機能または別の手段を用いて他のユーザーに個人情報を明らかにした場合。
    %li 活動情報またはその他のユーザーが入力した情報により、期せずして本人が特定できてしまった場合。
    %li ご本人以外のユーザーが個人を識別できる情報(ID、パスワード等)を入手した場合。
  %h3 アクセス、開示、訂正、削除、利用停止等について
  %p 運営者は、個人情報保護法その他の法令等に基づき、個人情報の開示、訂正、追加、削除、利用停止、消去、第三者提供の停止、利用目的の通知の請求に対応いたします。ユーザーの皆様は、本サービスにログインすることにより、ユーザーの個人情報を確認、訂正または削除できます。本サービス上に表示していない個人情報で運営者が保有しているものの開示を希望する場合、または運営者が保有しているユーザーの個人情報について、訂正、追加、削除又は利用停止等を希望する場合は、カスタマーサポートまでご連絡ください。請求が本人確認不可能な場合や、個人情報保護法の定める要件を満たさない場合、ご希望に添えない場合があります。上記ご要望の際に一定の料金が発生する場合がありますが、法律により許容される額を超えることはありません。運営者が上記の目的のために必要としなくなった個人情報は、運営者において削除します。なお、アクセスログなどの個人情報以外の情報については、原則として開示等はいたしません。
  %h3 プライバシーポリシーの更新について
  %p 運営者は、個人情報保護を図るため、法令等の変更や必要に応じて、本プライバシーポリシーを改訂することがあります。その際は、最新のプライバシーポリシーを本サービスに掲載いたします。本ページを都度ご確認の上、本サービスのプライバシーポリシーをご理解いただくようお願いします。
  %h3 プライバシーポリシーに関するお問い合わせ
  %p 運営者のプライバシーポリシーに関するお問い合わせは、下記までご連絡お願い致します。
  %p 付則 2012年12月05日制定
