#tos
  %p 本みんなの将棋ユーザー利用規約(以下｢本規約｣といいます)は、将棋友の会(以下｢運営者｣といいます)が提供する、個人広告の掲載・申込・承認・メッセージングなどの機能を持つサービス「みんなの将棋」(以下｢本サービス｣といいます。) を利用されるにあたり、運営者に対して、遵守していただく諸条件を規定するものです。
  %h3 第1条 (規約の適用)
  %ol
    %li 本規約は運営者が運営するWebを利用した情報提供サービスである本サービスの利用に関して定めており、本サービスを利用する全てのユーザーの皆様に対し、閲覧・利用する際の全行為に対して適用されます。
    %li 本規約とは別に定めるガイドライン及びポリシー(以下、「諸規定」といいます。)についても、それぞれ本規約の一部を実質的に構成するものとして、ユーザーの皆様に対して適用されます。
    %li 本規約の規定と前項の諸規定の内容が異なる場合には、当該諸規定の内容が優先して適用されるものとします。
    %li ユーザーの皆様は本サービスの閲覧・利用によって、本利用規約の全ての記載内容について同意したものとみなされます。
    %li その他、本規約に定めのない事項についても、運営者の裁量により判断できるものとします。
  %h3 第2条 (規約の変更)
  %ol
    %li 本規約はユーザーの皆様の事前の承諾無く必要に応じていつでも変更することができるものとします。この場合に、本サービスの利用条件は、変更後の本規約によるものとします。
    %li 本変更後の規約は、運営者が別途定める場合を除き、本サービスのWebサイト上に表示した時点より、効力を生じるものとします。
  %h3 第3条 (個人情報の取扱い)
  %p 運営者は、個人情報を「プライバシーポリシー」に基づき、適切に取り扱うものとします。
  %h3 第4条 (ユーザー登録)
  %ol
    %li 本サービスは、運営者が定めるID(Facebook ID、以下「所定ID」と言います。)による利用登録を行ったユーザーのみが本サービスを利用する資格(以下、「ユーザー資格」といいます)を与えられるものとします。本サービスの利用を希望するユーザーは、所定IDを取得の後、本サービスを利用するものとします。
    %li 本サービスの利用に際して登録するユーザーのプロフィール情報(所定ID、氏名、性別、プロフィール写真、居住国、生活エリア、所属・卒業学校名、自己紹介文)は、他のユーザーから閲覧されることを承諾するものとします。
    %li 本サービスを利用できるのは、満18歳以上の者に限るものとします。ただし、運営者が別に認めたものを除きます。
    %li 運営者は、運営者の定めるところにより、本サービスの機能やツールを、ユーザーの年齢や利用環境等の条件に応じて提供するものとします。
    %li 運営者は、登録された所定IDによって本サービスの利用があった場合、利用登録をおこなった本人が利用したものと扱うことができ、当該利用によって生じた結果ならびにそれに伴う一切の責任については、利用登録を行った本人に帰属するものとします。
    %li 運営者は、ユーザーに対して新サービスの告知、広告配信、サービス運営上の事務連絡、その他情報の提供を行います。ただし、ユーザーが情報の提供を希望しない旨を、事前又は事後に運営者所定の方法で通知した場合は、本サービスの提供に必要な場合を除いて、情報の提供を行わないものとします。
  %h3 第5条 (ユーザー登録の不承諾)
  %p 運営者は、次の各号のいずれかに該当する場合は、運営者の判断によって、ユーザー登録希望者の登録申込を承諾しないことがあります。
  %ol
    %li 登録希望者が、前条第4項の方法によらずにユーザー登録の申込を行った場合。
    %li 登録希望者が、過去に本利用規約又はその他の利用規約等に違反したことを理由として強制退会処分を受けた者である場合。
    %li 登録希望者が、運営者の定めるタイミングにおける、ユーザー登録可能な対象ユーザーとしての条件(18歳未満の年齢・職業、一定のFacebookフレンド数、その他の個人情報等)を満たしていない場合。
    %li 登録希望者が、本人と異なる虚偽の名前・写真を使用して他人や団体になりすましている場合。
    %li その他運営者が不適切と判断した場合。
  %h3 第6条 (コンテンツ等に関する責任)
  %p 本サービスには、運営者及び利用者が作成したコンテンツ等(個人広告やそれに関する画像・メッセージング等)が掲載されています。運営者は原則的に本サービスを通じて、ユーザーの皆様に自由にコミュニケーションをして頂く「プラットフォーム」を提供しております。各コンテンツ等の内容は、各登録ユーザーの意思と責任の下に掲示されるものであり、運営者は、その内容の信頼性、真実性、正確性、妥当性、適法性、完全性、第三者の権利を侵害してないことその他一切の性質について何ら保証するものではありません。また運営者は、コンテンツ等が本規約に抵触するか否かを積極的に監視する義務を負うものではありません。
  %h3 第7条 (禁止行為)
  %p 本サービスの利用について、ユーザーの故意・過失を問わず以下の各項に該当すると運営者が判断する行為を禁止します。禁止行為を行った場合は、事前の告知なく該当箇所の削除や本サービスの利用停止、ユーザー資格の剥奪を行う場合があります。その場合、削除結果および利用停止措置に関する質問・苦情に対して運営者は一切の対応義務を負わないものとします。ユーザーの事情により、運営者からの連絡を確認できなかった場合でも、本利用規約等が適応されます。
  %ol
    %li 犯罪行為をすること又はこれを助長するようなメッセージ等を掲載する行為。
    %li 18歳未満の方が利用する行為。
    %li 18歳未満の方にサービス利用を促す行為。
    %li Facebookの友達数が個人の信用性担保のために必要十分な人数未満の方が利用する行為。
    %li 自殺・自傷行為を肯定・勧誘あるいは助長する行為(自殺の方法等を掲載する行為を含みます)。
    %li 虐待を肯定・勧誘・助長する行為。
    %li 不倫・援助交際・売春・買春等の勧誘行為。
    %li 政治活動、宗教活動を勧誘・助長する行為。
    %li 他人の身体、生命、自由、名誉、財産等に対して害悪を加える旨のメッセージ等を掲載する行為。
    %li 他の登録ユーザーに不快感を与える行為。
    %li 一般に公開されている情報を除き、所有者の了解なく、電話番号、メールアドレス等の個人的な連絡先を掲載する行為。
    %li 他人の名前その他の情報を不正利用したメッセージ等を掲載する行為。
    %li 登録ユーザーが使用するコンピュータ、通信機器等のハードウェア若しくはそれらにインストールされているソフトウェアに何らかの悪影響を生じさせ、又は登録ユーザーに心理的な不快感を与えるようなコンピュータープログラムやファイルをアップロードしたり、それらのプログラムやファイルが記録されているサーバーにアクセスするURLを掲載し、又はかかるサーバーに対するリンクを貼る行為。
    %li 他人の産業財産権(特許権、商標権等)、著作権、企業秘密等の知的財産権を侵害する行為。
    %li 他人の信用若しくは名誉を侵害し、又は他人のプライバシー権、肖像権その他一切の権利を侵害する行為。
    %li 虚偽又は誤解を招くようなメッセージ等を掲載する行為。
    %li 低俗で品位を欠く(例えば猥褻な)内容のメッセージ等を掲載する行為。
    %li 本サービスの運営又は他の登録ユーザーによる本サービスの利用を妨害し、若しくはそれらに支障をきたす行為。
    %li 違反行為により利用停止されたユーザーが再度サービスに登録する行為。
    %li 違反行為により利用停止されたユーザーを故意または過失により招待する行為。
    %li ユーザー資格を第三者に利用させるまたは譲渡する行為。
    %li １つのユーザー資格を複数人で利用する行為。
    %li １人で複数のユーザー資格を保有する行為。
    %li サービスの一部の利用権をもって、現金その他の財物、財産上の利益との交換取引をすること、または交換取引をすることの宣伝・告知・勧誘する行為。
    %li アクセス誘導等を目的として、無差別かつ大量にアクセス履歴を残す行為。
    %li 通常利用の範囲を超えてサーバーに負担をかける行為。
    %li 無限連鎖講(ねずみ講)、マルチ商法、またはそれに類するもの、その恐れのあるものと運営者が判断する内容を掲載する行為。
    %li 営業目的や運営者が悪質と判断する外部サイトのURLを書き込み、ユーザーを誘導する行為。
    %li 法人が営利目的、広告目的のメッセージ等を掲載する行為(カテゴリーに即し、運営者が健全と判断するものは除く)。
    %li 公序良俗又は法令に反する行為。
    %li 他人に対する誹謗中傷、脅迫、嫌がらせ、ストーカー等の行為。
    %li その他運営者が合理的な理由に基づき不適切と判断する行為。
  %h3 第8条 (コンテンツ等の削除や移動等の措置)
  %p 本サービスに掲載されたメッセージ等が本規約に違反するものである場合、即時に、運営者が必要と判断する範囲でメッセージ等の全部・一部の削除若しくは修正・編集を行い、登録ユーザーによる本サービスの利用を禁止若しくは制限し、又は登録ユーザーの登録を抹消する権利を有するものとします。また、運営者は、投稿の掲示方法、カテゴリー、掲示期間等、本サービスの設営に関する一切の事項を決定する一切の編集権を保有し、メッセージ等の再分類、カテゴリーの統合、不適切なカテゴリーに投稿されたメッセージ等の移動等を行うことができます。もっとも、運営者は、メッセージ等の削除権の行使又は不行使に関し、何らの義務や責任も負担するものではありません。
  %h3 第9条 (本サービスの停止等)
  %p 運営者は次の各号に該当する場合、ユーザーへの事前の通知や承諾なしに、本サービスの一部または全部の提供を予告なく、変更、停止または終了する場合があります。
  %ol
    %li 本サービス用設備の保守又は仕様変更に伴う工事を行う場合。
    %li 本サービス用設備に障害が発生し、やむを得ない場合。
    %li 登録電気通信事業者の提供する電気通信役務に起因して電気通信サービスの利用が不能になった場合。
    %li 天災、事変その他非常事態が発生し、または発生するおそれがあり、本サービスの運営が困難または不可能となった場合。
    %li その他、運用上又は技術上、運営者が本サービスの一時的中断が必要と判断した場合。
  %p 運営者は、本サービスのサービスや情報、URLを、予告なしに変更または廃止する場合があります。
  %p 前5項の規定により本サービスの運用が一時的に停止されまたは本サービスのサービスや情報、URLが変更もしくは廃止され、これに起因してユーザーに損害が発生した場合でも、運営者は一切責任を負担致しません。
  %h3 第10条 (本サービスの終了)
  %ol
    %li 運営者は、相当の周知期間をもって利用者に通知の上、利用者に対する本サービス及び本サービスの一部を終了することができるものとします。
    %li 前項の通知は、本サービスのWebサイト上での掲示及び本サービスが提供するメールサービスを利用する利用者への電子メールの送付によるものとし、その通知の効力は第3条の定めによります。
    %li 運営者は第1項の方法による利用者に対する通知の後、本サービスを終了した場合には、利用者に対して本サービスは終了に伴い生じる損害、損失、その他の費用の賠償又は補償を免れるものとします。
  %h3 第11条 (免責事項)
  %p 運営者は、信頼できるサービスや情報をユーザーへお届けすべく努力をしていますが、次の各号について、一切保証致しません。本サービスのご利用に際しては、ユーザーご自身が、本サービスおよび本サービスにおいて提供される情報やサービスの有用性等を判断し、ご自身の責任でご利用下さい。
  %ol
    %li 運営者は、本サービスの利用に関して利用者が被った損害又は損失などについては、一切の責任を負わないものとします。
    %li 運営者は、本サービスの利用に際して、第2条 (規約の変更)、第9条 (本サービス提供の中断)、及び第10条 (本サービスの終了)があった場合等を含め、利用者が被った損害又は損失に対して、一切の責任を負わないものとします。
    %li 運営者は、利用者が本サービスの利用によって、他の利用者又は第三者に対して損害を与えた場合、その一切の責任を負わないものとします。
    %li 運営者は、利用者が本サービスを通じて得る情報などについて、その完全性、正確性、確実性、有用性など、いかなる保証も行わないものとします。
    %li 運営者は、メッセージの掲示時期、削除、誤配、又は保存の有無について何ら責任を負わないものとします。
    %li 運営者は、利用者が使用するいかなる機器、ソフトウェアについても、その動作保証を一切行わないものとします。
    %li 本サービス利用の際に発生した、電話会社又は各種通信業者より請求される接続に関する費用は、利用者が自己責任において管理するものとし、運営者は、いかなる保証も行わないものとします。
  %h3 第12条 (損害賠償の請求)
  %p 利用者が本規約に反した行為又は不正若しくは違法に本サービスを利用することにより、運営者に損害を与えた場合、運営者は該当利用者に対して相応の損害賠償の請求(弁護士費用を含む)を行う場合があるものとします。
  %h3 第13条 (準拠法および管轄裁判所)
  %p 本規約に関する準拠法は日本法とし、利用者と運営者は、本規約に関連する紛争について、その訴額に応じて、東京簡易裁判所又は東京地方裁判所を第一審の専属的合意管轄裁判所とすることに合意します。
  %p 付則 2012年12月20日制定
