%p
  ShogiMatch is a web service which is developed and maintenanced by the Facebook community "Shogi Tomo No Kai(将棋友の会)".

%p
  ShogiMatchについての最新情報、不具合情報、メンテナンス情報は、Facebook上の「将棋友の会」のウォール上に掲載していきます。

