.common_container#about_page
  %h2= @subtitle
  = render 'game'
  %section.actions
    = link_to_sign_in nil, 'data-disable-with' => t('actions.now_loading'), class: 'btn btn-large btn-block btn-primary'
