.common_container#about_container
  %h2= @subtitle
  %p
    運営者情報
  %ul.menu
    %li
      - if user_signed_in?
        - name = t('actions.back_to_mypage')
      - else
        - name = t('actions.back_to_top')
      = link_to name, root_path
    - unless user_signed_in?
      %li
        = link_to_sign_in
