.common_container#about_container
  %h2= @subtitle
  %p
    運営者情報
  %ul.menu
    %li
      = link_to t('actions.back_to_top'), root_path
    - unless user_signed_in?
      %li
        = link_to_sign_in
