/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require ./structure
 *= require ./themes
 *= require jquery-ui
 *= require jquery.pnotify.default
 *= require jquery.pnotify.default.icons
 *= require_self
 *= require_directory .
 */

@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

body
  -webkit-text-size-adjust: none

/* Common Parts */

ul.menu
  margin: 0
  li
    margin: 10px 0 0
    list-style: none
    &:first-child
      margin-top: 0

.slider
  @include user-select
  width: 520px
  margin: 0 auto
  height: 60px
  background: #f0f0f0
  position: relative
  overflow: hidden
  .slides
    position: absolute
    overflow: hidden
    @include clearfix
    left: 20px
    top: 0px
    height: 60px
    .slide
      @include square(50px)
      padding: 5px
      background: #f0f0f0
      float: left
      &.active
        background: $activated_color
  .left, .right
    position: absolute
    z-index: 2
    top: 0px
    width: 20px
    height: 60px
    background: #fff url(/assets/slide_arrow.gif) no-repeat
    cursor: pointer
  .left
    background-position: 0px -60px
    left: 0px
    &.disabled
      background-position: 0px -60px !important
    &:hover
      background-position: 0px 0px
  .right
    right: 0px
    background-position: -20px -60px
    &.disabled
      background-position: -20px -60px !important
    &:hover
      background-position: -20px 0px
  .now_loading
    line-height: 60px
    position: absolute
    left: 40px
    top: 0px

/* pnotify */
.ui-pnotify-history-container
  display: none
.ui-pnotify-history-container .ui-pnotify-history-header
  text-align: center
  font-weight: bold
.ui-pnotify-container
  padding: 10px
.ui-pnotify
  h4.ui-pnotify-title
    clear: none
    margin: 0 0 5px
    line-height: 14px
    font-size: 14px
    height: 14px
    min-height: 14px
    display: block
  div.ui-pnotify-text
    font-size: 14px
    a
      color: $link_color
  div.ui-pnotify-sticker
    display: none

/* facebook */
.fb_comments
  @include user-select(none)
  margin: 30px auto 0
  width: 540px
  max-height: 600px
  overflow: hidden
.fb_comments_controller
  @include user-select(none)
  margin: 0 auto
  width: 540px
