/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ./initializer
 *= require ./base
 *= require ./structure
 *= require jquery.pnotify.default
 *= require jquery.pnotify.default.icons
 *= require_self
 *= require_directory .
 */

@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'common/helpers'

/* Common Parts */
h2
  margin-bottom: 10px
  font-weight: bold
  font-size: 140%
h3
  margin: 20px 0 10px
  font-size: 130%
  font-weight: bold
  border-bottom: 1px solid $border_color
h4
  margin: 20px 0 0px
  font-size: 110%
  font-weight: bold
p
  margin: 10px 0
label
  display: block
  &.must:after
    content: '*'
    color: #f00
  &.error
    color: #f00
    display: none
    white-space: none
    font-weight: normal
    img
      vertical-align: middle
  &.inline
    display: inline
    font-weight: normal

a
  &.button
    @include button
    @include inline-block
    font-size: 100%
    text-decoration: none
span
  &.button
    @include button(simple, #eee)
    @include inline-block
    font-size: 100%
    text-decoration: none

.common_container
  padding: 10px
  &#game_page
    padding: 0
table.resources
  width: $common_width - 20px
  margin-bottom: 10px
  th, td
    text-align: center
    vertical-align: middle
  thead tr
    th, td
      font-weight: bold
      color: #000
      padding: 3px 10px
      border-bottom: 1px solid $border_color
  tbody tr
    th, td
      padding: 3px 10px
      border-bottom: 1px dotted $border_color

form
  section.field
    margin: 15px 0
  section.actions
    margin: 30px 0

ul.menu
  li
    margin: 25px 0
    a
      @include button
      font-size: 100%
      display: block
      margin: 0 auto
      width: 180px
      text-align: center
      text-decoration: none

aside.actions
  margin: 10px 0

/* pnotify */
.ui-pnotify-history-container
  display: none
.ui-pnotify-history-container .ui-pnotify-history-header
  text-align: center
  font-weight: bold

/* facebook */
.fb_comments
  margin: 30px auto 0
  width: 500px
  max-height: 600px
  overflow: hidden
.fb_comments_controller
  margin: 0 auto
  width: 500px

/* Smart Phone */

@media only screen and (max-device-width: 1024px)
  ul.menu
    li
      margin: 25px 0
      a
        width: 300px
  #{$all-text-inputs}
    font-size: 24px
    height: 36px
  select
    font-size: 24px
    height: 44px
  input[type="radio"]
    font-size: x-large
    height: 30px
    width: 30px
  input[type="submit"], button
    &.send
      font-size: 24px

@media only screen and (max-device-width: 1024px) and (orientation:portrait)
  $common_width: $mobile_portrait_width
  $max_content_width: $common_width - 20px
  table.resources
    width: $max_content_width
    th, td
      &.spec
        display: none
  #{$all-text-inputs}
    max-width: $max_content_width - 30px
  select
    max-width: $max_content_width

@media only screen and (max-device-width: 1024px) and (orientation:landscape)
  $common_width: $mobile_landscape_width
  $max_content_width: $common_width - 20px
  table.resources
    width: $common_width - 20px
  #{$all-text-inputs}
    max-width: $max_content_width - 30px
  select
    max-width: $max_content_width
