@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'common/helpers'

html
  overflow-y: scroll

html, body
  font-family: $helvetica
  background-color: #fff

body, p, pre, ol, ul, li, table, th, td, div, h1, h2, h3, h4, h5, h6, dd, dt, dl, article, header, footer, section
  margin: 0
  padding: 0
  font-size: 12px
  line-height: 1.6
  color: $color
pre
  background-color: #eee
  padding: 10px
h1
  a
    text-decoration: none
    &.hover
      text-decoration: underline
a
  color: $link_color
  text-decoration: none
  &:hover
    color: $link_color
    text-decoration: underline

strong
  font-weight: bold
  &.important
    color: #f00
em
  font-weight: bold
  &.important
    color: #f00

@mixin field_error
  &.error
    background-color: #ffe5e5
    border: 1px solid #ffb8b8

#{$all-text-inputs}
  line-height: 16px
  font-size: 12px
  height: 18px
  border: 1px solid $border_color
  vertical-align: middle
  color: #000
  @include field_error
input[type="radio"]
  position: relative
  top: -1px
  vertical-align: middle
  margin: 0
input[type="checkbox"]
  position: relative
  top: -1px
  vertical-align: middle
  margin: 0
textarea
  font-size: 12px
  line-height: 16px
  border: 1px solid $border_color
  color: $color
  display: block
  @include field_error
select
  color: #333
  position: relative
  top: -1px
  height: 20px
  border: 1px solid $border_color
  font-size: 12px
input[type="submit"]
  &.send
    @include button

label
  color: #000
  font-weight: bold

.hide
  display: none
