@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

#comments_set
  margin: 30px auto 0
  width: 520px
  form.edit_comment
    width: 520px
  ul#comments
    li.comment
      width: 500px


form.edit_comment
  width: 740px
  border-bottom: 1px solid $border_color
  @include atmospheric_background
  @include clearfix
  img.face
    margin: 10px
    float: left
  section.field
    float: left
    margin: 10px 0
    @include clearfix
    width: 440px
    textarea#comment_content
      margin: 0
      width: 434px
    input[type="submit"]
      float: right
      @include border-radius(5px)
@media only screen and (max-width: 759px)
  form.edit_comment
    width: 520px
    section.field
      input[type="submit"]
        float: none
        width: 440px

ul#comments
  li.comment
    @include clearfix
    border-bottom: 1px solid $border_color
    padding: 10px
    width: 720px
    .comment_content
      float: left
      line-height: 25px
      width: 440px
    .comment_game
      text-align: right
      width: 220px
      float: left
    @include atmospheric_background
    img.face
      float: left
      margin-right: 10px
    time
      color: #aaa
  li.no_comment
    color: #f33
    font-weight: bold
    padding: 20px 10px
    border-bottom: 1px solid $border_color
@media only screen and (max-width: 759px)
  ul#comments
    li.comment
      width: 500px
      div, span
        font-size: 14px
