@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

article.feedback
  +clearfix
  width: 740px
  aside.face
    float: left
    width: 50px
    padding: 10px
  section.content
    float: left
    width: 670px
  aside.created_at
    position: absolute
    top: 10px
    right: 10px

    width: 460px
    margin: 0 auto

form.edit_feedback
  width: 520px
  margin-bottom: 30px
  section.field
    margin: 10px 0
    +clearfix
    textarea#feedback_content
      margin: 0
      width: 506px
    input[type="submit"]
      float: right
  @media (max-width: 767px)
    width: 450px
    section.field
      textarea#feedback_content
        width: 436px
  @media (max-width: 480px)
    width: 290px
    section.field
      textarea#feedback_content
        width: 276px

ul#feedbacks
  margin: 0
  padding: 0
  background: #fff
  +border-radius(5px)
  li.feedback
    +clearfix
    list-style: none
    border-bottom: 1px solid $border_color
    &:last-child
      border-bottom: 0
    padding: 10px
    .feedback_content
      float: left
      span.success
        color: #00a
    .status_buttons
      +clearfix
      float: right
      .status_button
        +clearfix
        margin-left: 20px
        width: 110px
        line-height: 38px
        float: left
        span.like, a.like
          +pill_button(#33f)
        span.dislike, a.dislike
          +pill_button(#f33)
        .like, .dislike
          +inline-block
          width: 40px
          font-size: 100%
          text-decoration: none
        .number
          float: right
          font-size: 18px
          line-height: 38px
  li.no_feedback
    color: #f33
    font-weight: bold
    padding: 20px 10px
    border-bottom: 1px solid $border_color
