@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

article.feedback
  @include clearfix
  width: 740px
  aside.face
    float: left
    width: 50px
    padding: 10px
  section.content
    float: left
    width: 670px
  aside.created_at
    position: absolute
    top: 10px
    right: 10px

    width: 460px
    margin: 0 auto

form.edit_feedback
  width: 520px
  section.field
    margin: 10px 0
    @include clearfix
    textarea#feedback_content
      margin: 0
      width: 514px
    input[type="submit"]
      float: right
      width: 100px
      @include border-radius(5px)
@media only screen and (max-width: 759px)
  form.edit_feedback

ul#feedbacks
  margin-top: 30px
  li.feedback
    @include clearfix
    border-bottom: 1px solid $border_color
    padding: 10px
    width: 720px
    .feedback_content
      float: right
      line-height: 25px
      width: 460px
    .status_buttons
      @include clearfix
      float: right
      width: 260px
      .status_button
        @include clearfix
        margin-left: 20px
        width: 110px
        line-height: 38px
        float: left
        span.like, a.like
          @include pill_button(#33f)
        span.dislike, a.dislike
          @include pill_button(#f33)
        .like, .dislike
          @include inline-block
          width: 40px
          font-size: 100%
          text-decoration: none
        .number
          float: right
          font-size: 18px
          line-height: 38px
  li.no_feedback
    color: #f33
    font-weight: bold
    padding: 20px 10px
    border-bottom: 1px solid $border_color
  li.first
    border-top: 1px solid $border_color
@media only screen and (max-width: 759px)
  ul#feedbacks
    li.feedback
      width: 500px
      div, span
        font-size: 14px
      .feedback_content
        float: none
        width: 500px
      .status_buttons
        @include clearfix
        float: right
        width: 260px
        .status_button
          @include clearfix
          margin-left: 20px
          width: 110px
          line-height: 38px
          float: left

