@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

$cell_width: 50px
$cell_height: 55px
$edge_cell_height: 15px
$side_cell_width: 15px
$board_width: $cell_width * 9 + $side_cell_width * 2
$board_height: $cell_height * 9 + $edge_cell_height * 2
$piece_size: 45px

#game_page
  #game_information
    margin-top: 50px
    #tab_comments, #tab_kifu
      h3
        margin-top: 0

article#game
  margin-top: 50px
  #game_result
    font-size: 130%
    text-align: center
    font-weight: bold
    margin: 10px 0
  aside#game_buttons
    @include user-select(none)
    width: $board_width
    margin: 10px auto
    text-align: right
  aside#play_buttons
    @include user-select(none)
    margin: 10px 0
    text-align: center
    a, span
      width: 60px
@media only screen and (max-width: 759px)
  article#game
    margin-top: 0

ul#games
  margin: 0
  padding: 0 10px
  background: #fff
  +border-radius(5px)
  li.game
    +clearfix
    list-style: none
    border-bottom: 1px solid $border_color
    &:last-child
      border-bottom: 0
    padding: 10px 0
    h3.game_users
      margin: 0
      width: 30%
      float: left
      font-size: 14px
      img.face
        +square(40px)
        @media (max-width: 767px)
          +square(25px)
    .game_info
      float: left
      width: 45%
    .game_status
      float: left
      width: 25%
      text-align: right
      .playing
        color: #c00
        font-weight: bold
      .finished
        color: #00c
        font-weight: bold
      .my_turn
        color: #00c
        font-weight: bold
  li.no_game
    list-style: none
    color: #f33
    font-weight: bold
    padding: 20px 10px

form.edit_game
  label
    margin-bottom: 10px

  .slide
    a.face, a.theme
      display: block
      @include square(50px)
  section.field
    margin-bottom: 40px
  #order_field
    width: 520px
    margin: 0 auto
    text-align: center
    a.game_order
      @include pill_button(#ffdd44)
      @include inline-block
      padding: 10px 0
      width: 112px
      font-size: 100%
      text-decoration: none
      &.active
        @include pill_button($activated_color)
        padding: 10px 0
        font-size: 100%
        text-decoration: none
  #game_handicap_select
    text-align: center
    display: none
    select#game_handicap
      margin-top: 15px
      width: 470px
      height: 36px

/* Smart Phone */
@media only screen and (max-width: 759px)
  form.edit_game
    #order_field
      a.game_order
        font-size: $mobile_button_font_size
        &.active
          font-size: $mobile_button_font_size
    #game_handicap_select
      select#game_handicap
        height: 44px

@media only screen and (max-width: 759px)
  article#game
    aside#game_buttons
      width: $board_width - 20px
      margin: 10px auto
