@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

$cell_size: 51px
$cell_width: 56px
$cell_height: 60px
$edge_cell_height: 20px
$side_cell_width: 18px
$board_width: $cell_width * 9 + $side_cell_width * 2
$piece_size: 45px
$line_color: #b37100
$highlight_color: #77c0ff
$selected_color: $highlight_color
$moved_color: $highlight_color

@mixin corner_cell
  @include user-select(none)
  font-size: 11px
  text-align: center
  font-weight: bold
  float: left

@mixin selected
  background-position: (- $cell_width * 4) (- $cell_height)

@mixin highlight
  background-position: (- $cell_width * 7) (- $cell_height)

#game_page

article#game
  #game_result
    font-size: 130%
    text-align: center
    font-weight: bold
    margin: 10px 0
  aside#game_buttons
    @include user-select(none)
    width: $board_width
    margin: 10px auto
    text-align: right
  aside#play_buttons
    @include user-select(none)
    margin: 10px 0
    text-align: center
    a, span
      width: 60px

.board
  @include user-select(none)
  width: $board_width
  height: $board_height
  background-repeat: no-repeat
  .row
    @include clearfix
    .cell
      @include user-select(none)
      float: left
      width: $cell_width
      height: $cell_height
      &.moved,
      &.selected
        cursor: pointer
        @include selected
      &.highlight
        cursor: pointer
        @include highlight
      .piece
    .corner_cell
      @include corner_cell
      width: $side_cell_width
      height: $edge_cell_height
    .edge_cell
      /* top, bottom */
      @include corner_cell
      width: $cell_width
      height: $edge_cell_height
      line-height: $edge_cell_height
    .side_cell
      /* left, right */
      @include corner_cell
      width: $side_cell_width
      height: $cell_height
      line-height: $cell_height

.in_hand
  @include user-select(none)
  @include atmospheric_background(0.5)
  .pieces
    .row
      @include clearfix
      .cell
        @include user-select(none)
        float: left
        width: $cell_width
        height: $cell_height
        position: relative
        &.moved,
        &.selected
          cursor: pointer
          @include selected
        &.in_turn
          @include highlight
        .piece
        section.face
          width: $face_size
          height: $face_size
          margin: (($cell_height - $face_size) / 2) (($cell_width - $face_size) / 2)
          a
            display: block
        .number
          position: absolute
          right: 0px
          bottom: 0px
          color: #f00
          font-weight: bold
          font-size: 14px

nav.next_game
  margin: 20px 0
  .see_more
    width: 460px
    text-align: center
    margin: 0 auto
  a.see_more
    @include pill_button(#aaa)
    display: block
    text-decoration: none
  span.see_more
    @include pill_button(#eee)
    display: block
    color: #fff
  a.see_more, span.see_more
    font-size: 100%

ul#games
  li.game
    @include clearfix
    border-bottom: 1px solid $border_color
    padding: 10px
    width: 720px
    @include atmospheric_background
    h3
      border: 0
      margin: 0
    .game_users,
    .game_info,
    .game_status
      float: left
      line-height: 25px
    .game_users
      width: 150px
      line-height: 50px
    .game_info
      width: 320px
    .game_status
      text-align: right
      width: 250px
      .playing
        color: #c00
        font-weight: bold
      .finished
        color: #00c
        font-weight: bold
  li.no_game
    color: #f33
    font-weight: bold
    padding: 20px 10px
    border-bottom: 1px solid $border_color
@media only screen and (max-width: 759px)
  ul#games
    li.game
      width: 500px
      div, span
        font-size: 14px
      .game_users
        width: 150px
      .game_info
        width: 180px
      .game_status
        width: 170px

form.edit_game
  label
    margin-bottom: 10px
  #order_field
    width: 520px
    margin: 0 auto
    text-align: center
    a.game_order
      width: 120px
      @include pill_button(#ffdd44)
      @include inline-block
      font-size: 100%
      text-decoration: none
      &.active
        @include pill_button($activated_color)
        font-size: 100%
        text-decoration: none

  .slide
    a.face, a.theme
      display: block
      @include square(50px)
  section.field
    margin-bottom: 40px

/* Smart Phone */
@media only screen and (max-width: 759px)
  form.edit_game
    #order_field
      a.game_order
        font-size: $mobile_button_font_size
        &.active
          font-size: $mobile_button_font_size

/* Layouts */

section.board_container
  @include clearfix
  width: $cell_width * 11 + $side_cell_width * 2
  margin: 0 auto
  .board
    float: left
    margin: 0
  .in_hand
    float: left
    margin: 0
    width: $cell_width
    height: $cell_height * 9
    padding: $edge_cell_height 0

/* Smart Phone */
@media only screen and (max-width: 759px)
  article#game
    aside#game_buttons
      width: $board_width - 20px
      margin: 10px auto

  section.board_container
    width: $board_width
    margin: 0 auto
    .board
      float: none
    .in_hand
      float: none
      margin: 0 auto
      width: $cell_width * 9
      height: $cell_height
      padding: 0 $side_cell_width

