@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

#top_page
  article#top_main
    @include clearfix
    $image_width: 400px
    width: $common_width - 20px
    margin-bottom: 30px
    #top_image
      width: $image_width
      float: left
      img
        width: $image_width
    nav#top_navi
      margin-top: 30px
      width: $common_width - 20px - $image_width
      float: left

/* Smart Phone */
@media only screen and (max-width: 759px)
  #top_page
    article#top_main
      width: 100%
      @include clearfix
      #top_image
        float: none
        width: 100%
        text-align: center
      nav#top_navi
        float: none
        width: 100%
    .fb-like
      width: 100%
      overflow: hidden

#mypage
  article#mypage_main
    @include clearfix
    $profile_width: 400px
    width: $common_width - 20px
    #mypage_profile
      float: left
      width: $profile_width
      #user_profile
        margin: 0
        width: $profile_width
      dl
        width: $profile_width - 120px
        dt
          width: 80px
        dd
          width: $profile_width
          width: 200px
    nav#mypage_navi
      float: left
      width: $common_width - 20px - $profile_width
      ul.menu
        li
          margin-top: 0
        li:last-child
          margin: 0
  #games_tab,
  #comments_tab
    margin-top: 30px

@media only screen and (max-width: 759px)
  #mypage
    article#mypage_main
      width: 100%
      @include clearfix
      #mypage_profile
        display: none
      nav#mypage_navi
        float: none
        width: 100%

