@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

@mixin common_inner
  & > .inner
    margin: 0 auto
    width: $common_width

.whole_container
  margin: 0 auto
  width: $common_width
  @include atmospheric_background

header#global_head
  @include common_inner
  & > .inner
    @include clearfix
    $logo_width: 200px
    $height: 44px
    $inner_height: 24px
    h1
      padding: 10px
      font-size: 20px
      height: $inner_height
      line-height: $inner_height
      color: #000
      width: $logo_width - 20px
      float: left
      a
        color: #000
        text-decoration: none
    nav#global_navi
      text-align: right
      width: $max_width - $logo_width - 20px
      padding: 10px
      line-height: $inner_height
      height: $inner_height
      float: left
      a
        font-size: 14px
      img.face
        @include square(22px)
      ul
        li
          display: inline-block
          a
            display: block
            padding: 0 10px
        li.pulldown
          position: relative
          & > a
            text-decoration: none
          ul
            background: #fff
            position: absolute
            display: none
            width: 100%
            li
              width: 100%
              display: block
              a
                line-height: 30px
          &:hover
            background: #fff
            ul
              display: block

section#global_body
  @include common_inner
  .inner
    padding: 0
footer#global_foot
  @include common_inner
  .inner
    padding: 30px 0 60px
    & > ins
      @include atmospheric_background
      display: block !important
      margin: 10px auto !important
  p
    margin: 0
    a
      padding-right: 10px
    text-align: center

/* Smart Phone */
@media only screen and (max-device-width: 1024px)
  header#global_head
    & > .inner
      h1
        font-size: 100%
      nav#global_navi
        a
          font-size: 100%
  footer#global_foot
    p
      span#credit
        display: block

  $common_width: $mobile_portrait_width
  $max_width: $common_width
  .whole_container
    width: $max_width
  header#global_head
    @include common_inner
    & > .inner
      $logo_width: 200px
      h1
        width: $logo_width - 20px
      nav#global_navi
        width: $max_width - $logo_width - 20px
  section#global_body
    @include common_inner
  footer#global_foot
    @include common_inner
    p
      a
        padding-right: 10px
      text-align: center
  #{$document_tags}
    font-size: 24px
