@charset "utf-8"

/* Initializers of the Sass */
@import 'bourbon'
@import 'shared/helpers'

#global_head
  h1.brand
    padding: 10px 0
    margin: 0
    font-size: 18px
    line-height: 20px
    a
      color: #fff
      &:hover
        text-decoration: none
  #global_navi
    img.face
      +square(20px)

#global_foot
  padding: 10px 0 30px
  #google_adsense
    width: 100%
    overflow: hidden
    text-align: center
  @media (max-width: 767px)
    #google_adsense
      margin: 0 -20px
      width: 320px
  p
    margin-top: 10px
    text-align: center
