- if flash[:notice]
  :javascript
    $(function () {
      $.notice('#{escape_javascript flash[:notice]}');
    });
- if user_signed_in?
  - score_differential = current_user.score_differential
  - if score_differential
    - score = current_user.score
    - if score_differential >= 0
      - score_notice = t('notices.your_score_increased', score: score, differential: score_differential)
    - else
      - score_notice = t('notices.your_score_decreased', score: score, differential: - score_differential)
    - current_user.score_differential = nil
    :javascript
      $(function () {
        $.notice('#{escape_javascript score_notice}');
      });
  - if current_user.grade_increased
    - grade_notice = t('notices.you_upgrade', grade: stringify_grade(current_user.grade))
    - current_user.grade_increased = false
    :javascript
      $(function () {
        $.notice('#{escape_javascript grade_notice}');
      });
